@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.bdy{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

    margin-bottom: 10px;
}

button{
    margin: 8px 4px;
    padding: 13px 30px;
    font-size: medium;
    background-color: #e7e7e7; color: black; /* Gray */
}